<div class="main-section">
  <h1>Web3's future needs privacy, and we're here to validate it!</h1>
  <h2>Why Does Web3 Need Privacy?</h2>
  <h3>Traditional blockchains are typically fully transparent, making user data immediately public and available for analysis and research. This level of transparency can render Web3 unsuitable for institutional players and can prevent its use entirely.<h3>
  <h3>Join us in building a privacy-focused future</h3>
  <p>At YoloNode, we're focused on providing validation services to blockchain networks that prioritize privacy and security. We're committed to supporting projects that align with these values, ensuring a safer and more decentralized future.</p>
</div>
