/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 *= require_tree .
 *= require_self
 */

/* Body styles */
body {
    margin: 0;
    padding: 0;
}

/* Banner Styles */
.banner {
    background-color: #C1DF03; /* Background color */
    text-align: center;         /* Center text */
    padding: 10px;             /* Padding around the text */
    font-size: 16px;           /* Font size */
    color: #101213;              /* Text color */
    margin: 0;                 /* Remove any margin */
}

/* Image Section Styles */
.image-section {
    background-image: url('/assets/YoloNode-Logo-Name-Cropped.png'); /* Semicolon added */
    background-size: contain; /* Make sure the entire image is visible */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    width: 100%; /* Full width */
    height: 80vh; /* Take up 80% of the viewport height */
    margin: 0; /* Remove any margin */
}

/* Desktop Styles */
@media (min-width: 768px) {
    .image-section {
        max-width: 100%; /* Full width on larger screens */
        margin: 0 auto; /* Center the section */
        background-color: #101213; /* Set the new background color for sides */
        height: 80vh; /* Adjust height for desktop */
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    .image-section {
        background-color: transparent; /* No side color on mobile */
        height: 50vh; /* Adjust height for mobile */
        margin: 0; /* Remove any margin */
    }
}
